/* You can add global styles to this file, and also import other style files */
.artist-thumb{
    width:80px;
    height: auto;
    float:left;
    margin-right: 10px;
}

.main{
    border-bottom: 1px solid grey;
    padding: 30px;
}

.artist-header{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:solid 1px darkgrey
}
.artist-albums .well{
    margin-bottom: 20px;
    overflow: auto;
    min-height:400px;
}
.album{
    text-align:center;
    background: darkgrey;
    padding: 10px 20px;
    border: lightgrey 1px solid;
}
.album-thumb{
    width:100%;
}